@dark: #29292D;
@blue: #002C6A;
@red: #FF1818;
@orange: #FF4218;
@lightGrey: #B3C0D2;

.dark {
    color: @dark;
}
.blue {
    color: @blue;
}
.red {
    color: @red;
}
.orange {
    color: @orange;
}
.lightGrey {
    color: @lightGrey;
}

.white {
    color: #fff;
}